@model ElderlyCareApp.Models.MealLog

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MealLog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ElderlyPersonId" class="control-label"></label>
                <select asp-for="ElderlyPersonId" class ="form-control" asp-items="ViewBag.ElderlyPersonId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MealType" class="control-label"></label>
                <input asp-for="MealType" class="form-control" />
                <span asp-validation-for="MealType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MealTime" class="control-label">Meal Time</label>
                <input asp-for="MealTime" class="form-control" type="datetime-local" />
                <span asp-validation-for="MealTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
